In [1]:
print("hello world")

hello world

### Tuple

In [4]:
## differnt way of creating tuple 
tpl = (10,20,30,25.2,45.2,True,"bikaner")
print(tpl)
print(type(tpl))

(10, 20, 30, 25.2, 45.2, True, 'bikaner')
<class 'tuple'>

In [12]:
tpl = 10,20,30,25.2,45.2,True,"bikaner"
print(tpl)
print(type(tpl))

(10, 20, 30, 25.2, 45.2, True, 'bikaner')
<class 'tuple'>

In [8]:
##  create tuple with scaler value (single value)
tpl = ("upflairs",)
print(type(tpl))
print(tpl)

<class 'tuple'>
('upflairs',)

In [11]:
##  create tuple with scaler value (single value)
tpl = "upflairs",
print(type(tpl))
print(tpl)

<class 'tuple'>
('upflairs',)

In [18]:
tpl = (10, 20, 30, 25.2, "nikita", True, 'bikaner') 
### item accessing  
tpl[0:3]

(10, 20, 30)

In [19]:
tpl[4]

'nikita'

In [20]:
tpl = ("A","B","A","C")
print(tpl.count("A"))
print(tpl.index("B"))

2
1

In [21]:
tpl = ("A","B","A","C")
print(tpl*2)   # replication method

('A', 'B', 'A', 'C', 'A', 'B', 'A', 'C')

In [22]:
tpl1 = ("A","B","A","C")
tpl2 = ("F","G")  # concatenation method 
tpl3 = tpl1 + tpl2 
print(tpl3)

('A', 'B', 'A', 'C', 'F', 'G')

In [23]:
## tuple unpacking  
tpl = ("NIKITA","JANGID") 
print(type(tpl))

<class 'tuple'>

In [32]:
name, surname = tpl 
print(name,surname)

NIKITA JANGID

In [31]:
name, surname, nickname = tpl

ValueError: not enough values to unpack (expected 3, got 2)

In [34]:
## tuple unpacking  
tpl = ("NIKITA","JANGID","NIKKI") 
print(type(tpl))
print(tpl)

<class 'tuple'>
('NIKITA', 'JANGID', 'NIKKI')

In [35]:
name , surname = tpl

ValueError: too many values to unpack (expected 2)

In [36]:
name , surname , nickname = tpl 
print(name,surname,nickname)

NIKITA JANGID NIKKI

In [40]:
name  = "Nikita"
surname = "jangid"
full_name = name + surname
print(name,surname)
print(full_name)

Nikita jangid
Nikitajangid

In [46]:
name  = "Nikita"
surname = "jangid"
full_name = name + " "+ surname
print(full_name)

Nikita      jangid

In [48]:
name  = "Nikita"
surname = "jangid" 
age = 25 
print(name+surname+age)  # we cant concatenate string with integer

TypeError: can only concatenate str (not "int") to str

In [49]:
tpl = (10,20,30,40,50,60,50,5)
print(min(tpl))

5

In [50]:
print(max(tpl))

60

In [51]:
print(sum(tpl))

265

In [52]:
print(len(tpl))

8

In [58]:
# average => totalsum / no. of item 
average = sum(tpl)/len(tpl)
print("average is : ",average)

average is :  33.125

In [64]:
template = "Hey this is ---  , and i am from ___"
name = "Radhey"
city = "Vrandavan"
print(f"Hey this is {name} , and i am from {city}")

Hey this is Radhey , and i am from Vrandavan

In [67]:
name = input("Plz enter your name : ")
surname = input("plz enter your last name : ")
print(name,surname)

Radhey singh

In [77]:
name = input("Plz enter your name : ")
city = input("plz enter your city name : ")
print(f"Hey this is {name} , and i am from {city}")

Hey this is Nikita , and i am from Bikaner

In [ ]:
"heey this is ___name___   and i am from ___city___   and i have completed __qualification__ "

In [75]:
name = input("Plz enter your name :")
city = input("Plz enter your city :")
qualification = input("Plz enter your qualification :")
print(f"heey this is {name}, and i am from {city}, and i have completed {qualification}")

heey this is Nikita, and i am from Bikaner, and i have completed MSc(CS)

In [13]:
ls = [[1,2,3],[4,5,6],[7,8,9],[52,14,63,96]]
print(ls[2][::-1][-1])

7

In [7]:
ls = [['geeks','for'],['geeks']]
print(ls[0][1])
print(ls[1][0])

for
geeks

### SET

In [ ]:
introduction 
features 
declaration

In [17]:
st = {52,63,96,85,85.2,63,3,63,63,'upflairs'} 
print(type(st))
print(st)

<class 'set'>
{96, 3, 52, 85.2, 85, 'upflairs', 63}

In [18]:
st[25]

TypeError: 'set' object is not subscriptable

In [19]:
st = {"A",'B','C','D','E','F','C','B','C'} 
print(st)

{'E', 'A', 'F', 'C', 'D', 'B'}

In [22]:
# insert operation  
st.add('T')
print(st)

{'E', 'A', 'F', 'C', 'Z', 'Y', 'B', 'T', 'D'}