In [2]:
st = "upflairs pvt ltd jaipur" 
print(st.replace("upflairs",'flipkart'))

flipkart pvt ltd jaipur

In [3]:
print(st.swapcase())

UPFLAIRS PVT LTD JAIPUR

In [4]:
st = "UPFLAIRS PVT LTD JAIPUR" 
print(st.swapcase())

upflairs pvt ltd jaipur

### List 
Lists are used to store multiple items in a single variable.
List items are ordered, changeable, and allow duplicate values.

In [7]:
ls = [10,20,30,32,25,24,26,21,28,52.25,"upflairs",True]
print(ls)

[10, 20, 30, 32, 25, 24, 26, 21, 28, 52.25, 'upflairs', True]

In [8]:
print(type(ls))

<class 'list'>

In [17]:
ls2 = [52,63,254,96,45,45,45,45,45] 
print(ls2)

[52, 63, 254, 96, 45, 45, 45, 45, 45]

In [18]:
student_name = ['Neeraj','Mohan','rohan','kamlesh','vimlesh'] 
print(student_name)

['Neeraj', 'Mohan', 'rohan', 'kamlesh', 'vimlesh']

In [22]:
## update 
student_name[2] = "nikita"
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'vimlesh']

In [23]:
student_name[4] = "Mithlesh" 
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh']

In [29]:
## insertion operation (insert,append)
student_name.append("Nikki")

In [30]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh', 'Nikki']

In [31]:
student_name.append("Ranjit")   #

In [32]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh', 'Nikki', 'Ranjit']

In [36]:
student_name.insert(3,"dharmpal")   # we can insert item any specific position

In [37]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'dharmpal', 'kamlesh', 'Mithlesh', 'Nikki', 'Ranjit']

In [1]:
ls1 = ['A','B','C','B','C','B','D'] 
ls2 = [4,52,41,75,45,68,95,25,68]
print(ls1)
print(ls2)

['A', 'B', 'C', 'B', 'C', 'B', 'D']
[4, 52, 41, 75, 45, 68, 95, 25, 68]

In [41]:
!python --version

Python 3.12.4

In [44]:
ls1.append('E')

In [45]:
print(ls1)

['A', 'B', 'C', 'B', 'C', 'B', 'D', 'E']

In [ ]:
ls1.insert[4]

In [4]:
ls1

['A', 'B', 'C', 'B', 'C', 'B', 'D']

In [5]:
ls1[2] = 'F'

In [6]:
ls1

['A', 'B', 'F', 'B', 'C', 'B', 'D']

In [9]:
print(min(ls2))

4

In [10]:
print(max(ls2))

95

In [11]:
print(sum(ls2))

473

In [16]:

min(ls1 )

'A'

In [17]:
print(max(ls1))

F

In [25]:
### deletion operation (pop(),remove(),del keyword,clear())
ls1 =  ['A', 'B', 'F', 'B', 'C', 'B', 'D']
print(ls1)
print(ls1.pop())   # by defualt remove from the last position 
print(ls1)

['A', 'B', 'F', 'B', 'C', 'B', 'D']
D
['A', 'B', 'F', 'B', 'C', 'B']

In [27]:
print(ls1)
ls1.pop(2)    #now it remove by its position 
print(ls1)

['A', 'B', 'F', 'B', 'C', 'B']
['A', 'B', 'B', 'C', 'B']

In [29]:
ls1 =  ['A', 'B', 'F', 'B', 'C', 'B', 'D']
ls1.remove('F')
print(ls1)

['A', 'B', 'B', 'C', 'B', 'D']

In [40]:
ls1 =  ['A', 'B', 'F', 'B', 'C', 'B', 'D']

In [36]:
del ls1[3]

In [37]:
print(ls1)

['A', 'B', 'F', 'C', 'B', 'D']

In [38]:
del ls1[3:]

In [39]:
print(ls1)

['A', 'B', 'F']

In [42]:
ls1.clear()   # deletes all item

In [43]:
ls1

[]

In [45]:
ls1 =  ['A', 'B', 'F', 'B', 'C', 'B', 'D']
print(ls1.count('B'))

3

In [51]:
ls1[::-1]

['D', 'B', 'C', 'B', 'F', 'B', 'A']

In [53]:
ls1.reverse()

In [54]:
print(ls1)

['D', 'B', 'C', 'B', 'F', 'B', 'A']

In [48]:
st = "upflairs" 
print(st[-1:-9:-1])  # srialfpu

srialfpu

In [57]:
print(len(st))

8

In [50]:
print(st[::-1])

srialfpu

In [58]:
print(len(ls2 ))
print(ls2)

9
[4, 52, 41, 75, 45, 68, 95, 25, 68]

In [67]:
ls2.index(52)

1

In [68]:
ls2.sort()   ## by default it sort the items of the list in ascending order 
print(ls2)

[4, 25, 41, 45, 52, 68, 68, 75, 95]

In [70]:
ls2 = [4,52,41,75,45,68,95,25,68]
print(ls2)
ls2.sort() 
print(ls2)

[4, 52, 41, 75, 45, 68, 95, 25, 68]
[4, 25, 41, 45, 52, 68, 68, 75, 95]

In [73]:
ls2[::-1]   # descending order

[95, 75, 68, 68, 52, 45, 41, 25, 4]

In [74]:
ls2 = [4,52,41,75,45,68,95,25,68]
print(ls2)
ls2.sort(reverse=True)   # sort the items in descending order 
print(ls2)

[4, 52, 41, 75, 45, 68, 95, 25, 68]
[95, 75, 68, 68, 52, 45, 41, 25, 4]

In [77]:
    # diffrce btw append and extend() in a list 
ls1 = ['A','B','C']
ls2 = ['D','E'] 
ls1.append(ls2)
print(ls1)

['A', 'B', 'C', ['D', 'E']]

In [78]:
    # diffrce btw append and extend() in a list 
ls1 = ['A','B','C']
ls2 = ['D','E'] 
ls1.extend(ls2)
print(ls1)

['A', 'B', 'C', 'D', 'E']

In [82]:
ls1 = ['A','B','C']
print(ls1*2)   # replication method

['A', 'B', 'C', 'A', 'B', 'C']

In [87]:
ls1 = ['A','B','C']
ls4 = ls1 * 2  # replication method 
print(ls4)

['A', 'B', 'C', 'A', 'B', 'C']

In [85]:
# concatenation 
ls1 = ['A','B','C']
ls2 = ['D','E']  

print(ls1 + ls2)

['A', 'B', 'C', 'D', 'E']

In [86]:
# concatenation 
ls1 = ['A','B','C']
ls2 = ['D','E']  
ls3 = ls1 + ls2 
print(ls3)

['A', 'B', 'C', 'D', 'E']