In [2]:
st = "upflairs pvt ltd jaipur" 
print(st.replace("upflairs",'flipkart'))

flipkart pvt ltd jaipur

In [3]:
print(st.swapcase())

UPFLAIRS PVT LTD JAIPUR

In [4]:
st = "UPFLAIRS PVT LTD JAIPUR" 
print(st.swapcase())

upflairs pvt ltd jaipur

### List 
Lists are used to store multiple items in a single variable.
List items are ordered, changeable, and allow duplicate values.

In [7]:
ls = [10,20,30,32,25,24,26,21,28,52.25,"upflairs",True]
print(ls)

[10, 20, 30, 32, 25, 24, 26, 21, 28, 52.25, 'upflairs', True]

In [8]:
print(type(ls))

<class 'list'>

In [17]:
ls2 = [52,63,254,96,45,45,45,45,45] 
print(ls2)

[52, 63, 254, 96, 45, 45, 45, 45, 45]

In [18]:
student_name = ['Neeraj','Mohan','rohan','kamlesh','vimlesh'] 
print(student_name)

['Neeraj', 'Mohan', 'rohan', 'kamlesh', 'vimlesh']

In [22]:
## update 
student_name[2] = "nikita"
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'vimlesh']

In [23]:
student_name[4] = "Mithlesh" 
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh']

In [29]:
## insertion operation (insert,append)
student_name.append("Nikki")

In [30]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh', 'Nikki']

In [31]:
student_name.append("Ranjit")   #

In [32]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'kamlesh', 'Mithlesh', 'Nikki', 'Ranjit']

In [36]:
student_name.insert(3,"dharmpal")   # we can insert item any specific position

In [37]:
print(student_name)

['Neeraj', 'Mohan', 'nikita', 'dharmpal', 'kamlesh', 'Mithlesh', 'Nikki', 'Ranjit']

In [40]:
ls1 = ['A','B','C','B','C','B','D'] 
ls2 = [4,52,41,75,45,68,95,25,68]
print(ls1)
print(ls2)

['A', 'B', 'C', 'B', 'C', 'B', 'D']
[4, 52, 41, 75, 45, 68, 95, 25, 68]

In [41]:
!python --version

Python 3.12.4

In [44]:
ls1.append('E')

In [45]:
print(ls1)

['A', 'B', 'C', 'B', 'C', 'B', 'D', 'E']

In [ ]:
ls1.insert[4]