In [1]:
print("hello world")

hello world

### Tuple

In [4]:
## differnt way of creating tuple 
tpl = (10,20,30,25.2,45.2,True,"bikaner")
print(tpl)
print(type(tpl))

(10, 20, 30, 25.2, 45.2, True, 'bikaner')
<class 'tuple'>

In [12]:
tpl = 10,20,30,25.2,45.2,True,"bikaner"
print(tpl)
print(type(tpl))

(10, 20, 30, 25.2, 45.2, True, 'bikaner')
<class 'tuple'>

In [8]:
##  create tuple with scaler value (single value)
tpl = ("upflairs",)
print(type(tpl))
print(tpl)

<class 'tuple'>
('upflairs',)

In [11]:
##  create tuple with scaler value (single value)
tpl = "upflairs",
print(type(tpl))
print(tpl)

<class 'tuple'>
('upflairs',)

In [18]:
tpl = (10, 20, 30, 25.2, "nikita", True, 'bikaner') 
### item accessing  
tpl[0:3]

(10, 20, 30)

In [19]:
tpl[4]

'nikita'

In [20]:
tpl = ("A","B","A","C")
print(tpl.count("A"))
print(tpl.index("B"))

2
1

In [21]:
tpl = ("A","B","A","C")
print(tpl*2)   # replication method

('A', 'B', 'A', 'C', 'A', 'B', 'A', 'C')

In [22]:
tpl1 = ("A","B","A","C")
tpl2 = ("F","G")  # concatenation method 
tpl3 = tpl1 + tpl2 
print(tpl3)

('A', 'B', 'A', 'C', 'F', 'G')

In [23]:
## tuple unpacking  
tpl = ("NIKITA","JANGID") 
print(type(tpl))

<class 'tuple'>

In [32]:
name, surname = tpl 
print(name,surname)

NIKITA JANGID

In [31]:
name, surname, nickname = tpl

ValueError: not enough values to unpack (expected 3, got 2)

In [34]:
## tuple unpacking  
tpl = ("NIKITA","JANGID","NIKKI") 
print(type(tpl))
print(tpl)

<class 'tuple'>
('NIKITA', 'JANGID', 'NIKKI')

In [35]:
name , surname = tpl

ValueError: too many values to unpack (expected 2)

In [36]:
name , surname , nickname = tpl 
print(name,surname,nickname)

NIKITA JANGID NIKKI

In [40]:
name  = "Nikita"
surname = "jangid"
full_name = name + surname
print(name,surname)
print(full_name)

Nikita jangid
Nikitajangid

In [46]:
name  = "Nikita"
surname = "jangid"
full_name = name + " "+ surname
print(full_name)

Nikita      jangid

In [48]:
name  = "Nikita"
surname = "jangid" 
age = 25 
print(name+surname+age)  # we cant concatenate string with integer

TypeError: can only concatenate str (not "int") to str

In [49]:
tpl = (10,20,30,40,50,60,50,5)
print(min(tpl))

5

In [50]:
print(max(tpl))

60

In [51]:
print(sum(tpl))

265

In [52]:
print(len(tpl))

8

In [58]:
# average => totalsum / no. of item 
average = sum(tpl)/len(tpl)
print("average is : ",average)

average is :  33.125

In [64]:
template = "Hey this is ---  , and i am from ___"
name = "Radhey"
city = "Vrandavan"
print(f"Hey this is {name} , and i am from {city}")

Hey this is Radhey , and i am from Vrandavan

In [67]:
name = input("Plz enter your name : ")
surname = input("plz enter your last name : ")
print(name,surname)

Radhey singh

In [77]:
name = input("Plz enter your name : ")
city = input("plz enter your city name : ")
print(f"Hey this is {name} , and i am from {city}")

Hey this is Nikita , and i am from Bikaner

In [ ]:
"heey this is ___name___   and i am from ___city___   and i have completed __qualification__ "

In [75]:
name = input("Plz enter your name :")
city = input("Plz enter your city :")
qualification = input("Plz enter your qualification :")
print(f"heey this is {name}, and i am from {city}, and i have completed {qualification}")

heey this is Nikita, and i am from Bikaner, and i have completed MSc(CS)

In [13]:
ls = [[1,2,3],[4,5,6],[7,8,9],[52,14,63,96]]
print(ls[2][::-1][-1])

7

In [7]:
ls = [['geeks','for'],['geeks']]
print(ls[0][1])
print(ls[1][0])

for
geeks

### SET

In [ ]:
introduction 
features 
declaration

In [1]:
st = {52,63,96,85,85.2,63,3,63,63,'upflairs'} 
print(type(st))
print(st)

<class 'set'>
{96, 'upflairs', 3, 52, 85.2, 85, 63}

In [2]:
st[2]

TypeError: 'set' object is not subscriptable

In [3]:
st = {"A",'B','C','D','E','F','C','B','C'} 
print(st)

{'C', 'E', 'D', 'B', 'A', 'F'}

In [5]:
# insert operation  
st.add('z')
print(st)

{'C', 'E', 'D', 'T', 'z', 'B', 'A', 'F'}

In [12]:
st2 = {"M","C","J","I","G","L"}
print(st2) 
print(st)

{'M', 'J', 'L', 'C', 'I', 'G'}
{'M', 'J', 'C', 'E', 'D', 'T', 'z', 'B', 'F', 'G', 'L', 'I', 'A'}

In [11]:
st.update(st2)  # to combine the items of multiple set 
print(st)

{'M', 'J', 'C', 'E', 'D', 'T', 'z', 'B', 'F', 'G', 'L', 'I', 'A'}

In [14]:
st1 = {"A",'B','C','D','E','F','C','B','C'} 
st2 = {"M","C","J","I","G","L"}
print(st1 + st2 )  # ==> st.update(st2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [19]:
st1 = {'A','B','C','D','E','F','G','H'}
st2 = {'A','B','C','M'}

print(st2.issubset(st1))

False

In [20]:
print(st1.issuperset(st2))

False

In [22]:
st1 = {'A','B','C','D','E','F','G','H'}
st2 = {'A','B','C','M'} 

print(st1.intersection(st2))

{'B', 'C', 'A'}

In [23]:
st1 = {'A','B','C','D','E','F','G','H'}
st2 = {'A','B','C','M'} 

print(st1.union(st2))

{'M', 'C', 'E', 'D', 'B', 'F', 'G', 'H', 'A'}

In [28]:
st1 = {'A','B','C','D','E','F','G','H'}
st2 = {'A','B','K','M'} 

print(st2.intersection(st1))

{'B', 'A'}

In [29]:
st1 = {'A','B','C','D','E','F','G','H'}
st2 = {'A','B','K','M'} 

print(st2.difference(st1))

{'M', 'K'}

In [34]:
# deletion operation (discard,pop,remove)  
st1 = {'A','B','C','D','E','F','G','H','k','r'}
print(st1)
print(st1.pop())
print(st1)

{'E', 'C', 'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
E
{'C', 'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}

In [35]:
print(st1)
print(st1.pop())
print(st1)

{'C', 'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
C
{'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}

In [39]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
print(st1)
print(st1.pop())
print(st1)

{'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
k
{'D', 'B', 'F', 'G', 'H', 'A', 'r'}

In [40]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
st1.remove('D')   # remove 
print(st1)

{'k', 'B', 'F', 'G', 'H', 'A', 'r'}

In [42]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
st1.discard('F')   # discard 
print(st1)

{'k', 'D', 'B', 'G', 'H', 'A', 'r'}

In [43]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
st1.remove('Z')   # remove will raise the error if item is not present 
print(st1)

KeyError: 'Z'

In [46]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
st1.discard('Z')   #  it will not be raised the error if item is not present 
print(st1)

{'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}

In [45]:
st1.clear()
print(st1)

set()

In [ ]:
## prectise 
# remove , discard , union, difference, intersection , add

In [55]:
st1 = {'k', 'D', 'B', 'F', 'G', 'H', 'A', 'r'}
st2 = {'k', 'D', 'M', 'G', 'N'}
st1.add('y')
print(st1)

{'k', 'D', 'B', 'F', 'G', 'y', 'H', 'A', 'r'}

### Dictionary

In [57]:
dt =  {"name":"nikita","college":"iet lucknow","city":"Bikner","age":20} 
print(dt)
print(type(dt))

{'name': 'nikita', 'college': 'iet lucknow', 'city': 'Bikner', 'age': 20}
<class 'dict'>

In [59]:
print(dt["city"])

Bikner

In [60]:
print(dt['name'])

nikita

In [61]:
print(dt['age'])

20

In [62]:
print(dt)

{'name': 'nikita', 'college': 'iet lucknow', 'city': 'Bikner', 'age': 20}

In [66]:
# dt =  {"name":"Nikita","subjects":["P","C","M"],"roll_no":123} 
# print(dt)
# print(type(dt))

{'name': 'Nikita', 'subjects': ['P', 'C', 'M'], 'roll_no': 123}
<class 'dict'>

In [68]:
# st = {10,20,30,{52,41,63}}   # we cant store set inside set

In [74]:
student_details = {"name":["neha",'reeta','kanik','madhu'],
                    "marks":[52,63,12,61],
                    "subjects":'math'} 

print(student_details)
print(type(student_details))

{'name': ['neha', 'reeta', 'kanik', 'madhu'], 'marks': [52, 63, 12, 61], 'subjects': 'math'}
<class 'dict'>

In [77]:
student_details["marks"][1]

63

In [1]:
dt = {"A":10,"B":20,"C":30,"D":40,"E":50}
print(type(dt))
print(dt)

<class 'dict'>
{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [8]:
### accessing 
print(dt["A"])

10

In [13]:
# to update particular value of key 
dt['C'] = "Nikita"
print(dt)

{'A': 10, 'B': 20, 'C': 'Nikita', 'D': 40, 'E': 50}

In [16]:
## insert pair (key, value) 
dt['F'] = "Radhey"
print(dt)

{'A': 10, 'B': 20, 'C': 'Nikita', 'D': 40, 'E': 50, 'F': 'Radhey'}

In [20]:
dt  = {'A': 10, 'B': 20, 'C': 'Nikita', 'D': 40, 'E': 50, 'F': 'Radhey'}
print(dt)

{'A': 10, 'B': 20, 'C': 'Nikita', 'D': 40, 'E': 50, 'F': 'Radhey'}

In [22]:
print(dt.keys())

dict_keys(['A', 'B', 'C', 'D', 'E', 'F'])

In [21]:
print(dt.values())

dict_values([10, 20, 'Nikita', 40, 50, 'Radhey'])

In [3]:
dt = {"A":10,"B":20,"C":30,"D":40,"E":50}
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [4]:
print(dt.get("A"))

10

In [6]:
dt['Z']

KeyError: 'Z'

In [8]:
print(dt.get("Z"))

None

In [15]:
print(dt.get("Z","not exist"))

not exist

In [22]:
# deletion operation (pop , popitem)
dt.pop("C")

30

In [23]:
print(dt)

{'B': 20, 'D': 40, 'E': 50}

In [31]:
dt = {"A":10,"B":20,"C":30,"D":40,"E":50}
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [32]:
dt.popitem()
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [33]:
dt

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [34]:
# to combine multiple dictionaries 
dt1 = {'A': 10, 'B': 20, 'C': 30, 'D': 40} 
dt2 = {"E":50,"F":60,"G":66} 

dt1.update(dt2) 
print(dt1)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50, 'F': 60, 'G': 66}

In [36]:
dt = dict.fromkeys(['A','B','C','D','E'],"Radhey")
print(dt)

{'A': 'Radhey', 'B': 'Radhey', 'C': 'Radhey', 'D': 'Radhey', 'E': 'Radhey'}

In [39]:
dt['C'] = "Nikita"

In [40]:
print(dt)

{'A': 'Radhey', 'B': 'Radhey', 'C': 'Nikita', 'D': 'Radhey', 'E': 'Radhey'}

In [41]:
dt1 = {'A': 10, 'B': 20, 'C': 30, 'D': 40} 
print(dt1.items())

dict_items([('A', 10), ('B', 20), ('C', 30), ('D', 40)])

### Type casting

In [4]:
int(),float(),str(),list(),dict(),set(),tuple(),

(0, 0.0, [], {}, set(), (), '')

In [7]:
## int to float
var = 10 
print(type(var))
var2 = float(var)
print(var2)
print(type(var2))

<class 'int'>
10.0
<class 'float'>

In [9]:
# float to int 
var1 = 10.25 
print(var1) 
print(type(var1))

var2 = int(var1)
print(var2)
print(type(var2))

10.25
<class 'float'>
10
<class 'int'>

In [10]:
# int to string 
var1 = 20 
print(var1) 
print(type(var1)) 

var2 = str(var1)
print(var2)
print(type(var2))

20
<class 'int'>
20
<class 'str'>

In [11]:
# float to string 
var1 = 20.25
print(var1) 
print(type(var1)) 

var2 = str(var1)
print(var2)
print(type(var2))

20.25
<class 'float'>
20.25
<class 'str'>

In [13]:
# string to int 
var1 = "8525"
print(var1)
print(type(var1))

var2 = int(var1)
print(var2)
print(type(var2))

8525
<class 'str'>
8525
<class 'int'>

In [22]:
# string to float  
var1 = "8525.25"
print(var1)
print(type(var1))

var2 = float(var1)
print(var2)
print(type(var2))

8525.25
<class 'str'>
8525.25
<class 'float'>

In [27]:
# list to tuple 
var1 = [25]
print(var1)
print(type(var1))

var2 = tuple(var1)
print(var2)
print(type(var2))

[25]
<class 'list'>
(25,)
<class 'tuple'>

In [29]:
# tuple to  list 
var1 = (25,)
print(var1)
print(type(var1))

var2 = list(var1)
print(var2)
print(type(var2))

(25,)
<class 'tuple'>
[25]
<class 'list'>

In [30]:
# tuple to  set 
var1 = (25,25,63)
print(var1)
print(type(var1))

var2 = set(var1)
print(var2)
print(type(var2))

(25, 25, 63)
<class 'tuple'>
{25, 63}
<class 'set'>

In [31]:
# list to  set 
var1 = [25,25,63]
print(var1)
print(type(var1))

var2 = set(var1)
print(var2)
print(type(var2))

[25, 25, 63]
<class 'list'>
{25, 63}
<class 'set'>

In [32]:
# set to  tuple 
var1 = {25,25,63}
print(var1)
print(type(var1))

var2 = tuple(var1)
print(var2)
print(type(var2))

{25, 63}
<class 'set'>
(25, 63)
<class 'tuple'>

In [38]:
# to remove duplicate records using type casting 
ls = [25,63,52,35,25,14,25,45,85,25,45,25]
print(ls)
ls2 = set(ls)
ls3 = list(ls2)
print(ls3)

[25, 63, 52, 35, 25, 14, 25, 45, 85, 25, 45, 25]
[35, 45, 14, 52, 85, 25, 63]

In [39]:
ls = [25,63,52,35,25,14,25,45,85,25,45,25]
ls2 = list(set(ls))
print(ls2)

[35, 45, 14, 52, 85, 25, 63]

In [41]:
ls = [25,63,52,35,25,14,25,45,85,25,45,25]
print(ls)
ls = list(set(ls))
print(ls2)

[25, 63, 52, 35, 25, 14, 25, 45, 85, 25, 45, 25]
[35, 45, 14, 52, 85, 25, 63]

In [ ]:
# HOME WORK QUESTIONS 
# RAM ==> RANDOM ACCESS MEMORY 
# ROM ==> READ ONLY MEMORY  
# main memory or primary memory ? 
# what is operating system? 
# what is processor?

In [ ]:
DSA (DATA STRUCTURE AND ALGORITHMS)  # famous one subject 
1. Time complexity 
2. Space complexity 

## e.g Time 
automatic driving car: software   
facebook

In [ ]:
int 4 byte 
1 byte == 8 bit 
8 * 4 == 32 bit 

var = 4    ## 100 
#    00000000000000000000000000000100

In [ ]:
64  32  16  8  4  2  1 
               1  0  0
4