### Function.

In [4]:
for i in range(10):
    print("upflairs")

upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs

In [7]:

print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs")

upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs

In [8]:
def hii_nikita():
    for i in range(10):
        print("welcome nikki at upflairs")

In [9]:
## calling 
hii_nikita()

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [2]:
for i in range(10):
    print("welcome nikki at upflairs")

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [3]:
for i in range(10):
    print("welcome nikki at upflairs")

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [11]:
## two add  
def add_two_num():
    n1 = int(input("enter first number : "))
    n2 = int(input('enter second number'))
    output = n1 + n2 
    print(output)

In [12]:
add_two_num()

50

In [13]:
def square():
    num = int(input("enter value :"))
    output = num ** 2
    print(output)

In [14]:
square()

25

In [12]:
num = 5
num ** 2

25

In [10]:
n1 = int(input("enter first number : "))
n2 = int(input('enter second number'))
output = n1 + n2 
print(output)

55

In [ ]:
add_two_num()

70

In [13]:
add_two_num()

33

In [15]:
ls = [51,36,85,69,75,65,25,63,22,12]
even_no = []
odd_no = []
for item in ls:
    if item % 2 == 0:
        even_no.append(item)
    else:
        odd_no.append(item) 

print("All even no. : ",even_no)
print("All odd no. : ",odd_no)

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [16]:
def even_oddfinder():
    ls = [51,36,85,69,75,65,25,63,22,12]
    even_no = []
    odd_no = []
    for item in ls:
        if item % 2 == 0:
            even_no.append(item)
        else:
            odd_no.append(item) 

    print("All even no. : ",even_no)
    print("All odd no. : ",odd_no)

In [19]:
even_oddfinder()

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [21]:
def even_oddfinder(ls):  # parameter 
    even_no = []
    odd_no = []
    for item in ls:
        if item % 2 == 0:
            even_no.append(item)
        else:
            odd_no.append(item) 

    print("All even no. : ",even_no)
    print("All odd no. : ",odd_no)

In [25]:
numbers = [51,36,85,69,75,65,25,63,22,12]

even_oddfinder([51,36,85,69,75,65,25,63,22,12])

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [47]:
even_oddfinder(numbers)

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [48]:
even_oddfinder([51,36,85,69,75,65,25,63,22,12])

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [26]:
def add_two_num(num1,num2):  # parameters

    output = num1 + num2 
    print(output)

In [28]:
add_two_num(num1=50,num2=100)  # arguments

150

In [ ]:
add_two_num(50,100)

150

In [64]:
def even_oddfinder(ls):
    even_no  = []
    odd_no = []
    for item in ls:
        if  item % 2 == 0:
            even_no.append(item)
        else: 
            odd_no.append(item)
    print(len(even_no))
    print(len(odd_no))

In [65]:
even_oddfinder(ls=[20,45,75,96,12,78,46,73,99,44,55])

6
5

In [ ]:
ls=[20,45,75,96,12,78,46,73,99,44,55,32,14,52,54,57,254,32,63] 

numbers ==> <= 50 
Total. no. of ==> 5

In [8]:
def add_two_num(num1,num2):  # parameters
    print("start execution")
    return
    print('not executing')
    output = num1 + num2 
    return f"your addition is {output}","nikita","upflairs"
    return "a"
    return 'b'
    return 'c'

In [9]:
ans = add_two_num(25,25)
print(ans)

start execution
None

In [46]:
"a","b","c"

('a', 'b', 'c')

In [45]:
tpl = 10,20,30
print(tpl)
print(type(tpl))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# variable scope 
# local variable and global variable

In [53]:
age = 25 

def test():
    print(age) 
test()

25

In [ ]:
age = 25   # global scope 

def test():
    age = age + 5   # local scope 
    print(age) 
test()

UnboundLocalError: cannot access local variable 'age' where it is not associated with a value

In [57]:
def test():
    x = 25 
    print(x)

test() 
print(x)

25

NameError: name 'x' is not defined

In [61]:
age = 25 
def test():
    global age 
    age =age +5
    print(age)

test() 
print(age)

30
30

In [15]:
ls = [10,20,30,50,63,74,85,95,14,2] 

print(sum(ls))

443

In [ ]:
ls = [10,20,30,50,63,74,85,95,14,2] 

def total_sum(ls):
    temp = 0
    for item in ls:
        temp += item 
    print("your total sum is : ",temp)
total_sum(ls)

your total sum is :  443
None

In [ ]:
ls = [10,20,30,50,63,74,85,95,14,2] 
def total_sum(ls):
    temp = 0
    for item in ls:
        temp += item 
    return temp 
output = total_sum(ls)
print("Your addition is : ",output)

Your addition is :  443

In [ ]:
ls = [10,20,30,50,63,74,85,95,14,2] 
print(min(ls))

2

In [7]:
def test():
    n1 = 25 
    n2 = 30 
    return n1 + n2 
    print(n1)

print(test())
print(n1)

55

NameError: name 'n1' is not defined

In [4]:
a = 10 
b = 20
print(a) 
print(b )

10
20

In [ ]:
return: 
in a function keyword can be n

In [13]:
# args , kwargs   
def test(a,b,c,d,e,f,g,h,i,j,k,l,m):  # parameters 
    return a+b+c+d+e+f+g

test(10,10,10,10,10,10,10,20)  # arguments

TypeError: test() missing 5 required positional arguments: 'i', 'j', 'k', 'l', and 'm'

In [18]:
# args , kwargs   
def test(*arg):  # parameters 
    return sum(arg)

test(10,10,10,10,10,10,10,20)  # arguments

90

In [24]:
# args , kwargs   
def test(*niki):  # parameters 
    return niki  
test(10,10,10,10,10,10,10,20,52,63,85)  # arguments

(10, 10, 10, 10, 10, 10, 10, 20, 52, 63, 85)

In [26]:
# args , kwargs   
def test(*arg):  # parameters 
    return sum(arg) 
tpl = (10,10,10,10,10,10,10,20,52,63,85)
test(*tpl)  #arguments unzip

290

In [4]:
def test(name,age,clas,city,branch='cse'):  #default parameter 
    print(name,age,city,clas,branch) 


test(city='bikaner',name="aniket",age=25,clas=3,branch="IT")

aniket 25 bikaner 3 IT

In [5]:
def calculator(num1,num2,operation):
    if operation == "+":
        print("your addition is : ",num1+num2) 

    elif operation == "-":
        print("subtraction is : ",num1 - num2) 
        
    elif operation == "*":
        print("Multiplication is : ",num1 * num2) 
    elif operation == "/":
        print("Devision is : ",num1 / num2) 
n1 = 
operation = 
n2 = 

calculator(num1=n1,num2=n2,operation=operation)

your addition is :  77

In [8]:
(100 / 600)*100

16.666666666666664

In [16]:
def percentage_calculator(obtained_marks,total_marks=600,ratio=100):
    percentage = (obtained_marks / total_marks ) * ratio
    # print("your percentage is : ",round(percentage,2))
    print(f"your percentage is {percentage:.2f}")

obtained = int(input('enter your marks : '))
percentage_calculator(obtained_marks=obtained)

your percentage is 16.67

In [13]:
round(25.236522,4)

25.2365

In [20]:
def test(**kwarg):  #kwarg ==> keyword arguments
    # print(kwarg) 
    for key in kwarg:
        print(key)
test(city='bikaner',name="aniket",age=25,clas=3,branch="IT")

city
name
age
clas
branch

In [14]:
def fun1():
    print("Hello world from func 1 ") 

fun1()

Hello world from func 1

In [4]:
def fun2(f1):
    f1()
    print("Hello world from func 2 ") 

fun2(f1=fun1)

Hello world from func 1
Hello world from func 2

In [17]:
def fun1():
    print("Hello world from func 1 ") 
    def func2():
        print("Hello world from func 2 ")
    return func2 

fun2 = fun1()

Hello world from func 1

In [19]:
fun1()()

Hello world from func 1
Hello world from func 2

### Lambda function

In [21]:
# ananymous function 
fun = lambda x , y : x + y 
fun(25,25)

50

In [ ]:
lambda arguments: expression if condition else alternative_expression

In [23]:
check_number = lambda x: "EVEN" if x%2==0 else "ODD" 
check_number(5)

'ODD'

In [44]:
ls1 = [14,25,63,41,85]
ls2 = ["A","B","C","D","E"]
ls3 = [1,2,3,4,5]

In [45]:
list(zip(ls3,ls2,ls1))

[(1, 'A', 14), (2, 'B', 25), (3, 'C', 63), (4, 'D', 41), (5, 'E', 85)]

In [48]:
ls1 = [14,25,63,41,85]
ls2 = [52,63,85,74,4]
ls3 = [96,45,89,78,58]
zip_result = list(zip(ls1,ls2,ls3))
zip_result

[(14, 52, 96), (25, 63, 45), (63, 85, 89), (41, 74, 78), (85, 4, 58)]

In [50]:
for item in zip_result:
    print(max(item))

96
63
89
78
85