### Function.

In [4]:
for i in range(10):
    print("upflairs")

upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs

In [7]:

print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs") 
print("upflairs")

upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs
upflairs

In [8]:
def hii_nikita():
    for i in range(10):
        print("welcome nikki at upflairs")

In [9]:
## calling 
hii_nikita()

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [2]:
for i in range(10):
    print("welcome nikki at upflairs")

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [3]:
for i in range(10):
    print("welcome nikki at upflairs")

welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs
welcome nikki at upflairs

In [11]:
## two add  
def add_two_num():
    n1 = int(input("enter first number : "))
    n2 = int(input('enter second number'))
    output = n1 + n2 
    print(output)

In [12]:
add_two_num()

50

In [13]:
def square():
    num = int(input("enter value :"))
    output = num ** 2
    print(output)

In [14]:
square()

25

In [12]:
num = 5
num ** 2

25

In [10]:
n1 = int(input("enter first number : "))
n2 = int(input('enter second number'))
output = n1 + n2 
print(output)

55

In [ ]:
add_two_num()

70

In [13]:
add_two_num()

33

In [15]:
ls = [51,36,85,69,75,65,25,63,22,12]
even_no = []
odd_no = []
for item in ls:
    if item % 2 == 0:
        even_no.append(item)
    else:
        odd_no.append(item) 

print("All even no. : ",even_no)
print("All odd no. : ",odd_no)

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [16]:
def even_oddfinder():
    ls = [51,36,85,69,75,65,25,63,22,12]
    even_no = []
    odd_no = []
    for item in ls:
        if item % 2 == 0:
            even_no.append(item)
        else:
            odd_no.append(item) 

    print("All even no. : ",even_no)
    print("All odd no. : ",odd_no)

In [19]:
even_oddfinder()

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [21]:
def even_oddfinder(ls):  # parameter 
    even_no = []
    odd_no = []
    for item in ls:
        if item % 2 == 0:
            even_no.append(item)
        else:
            odd_no.append(item) 

    print("All even no. : ",even_no)
    print("All odd no. : ",odd_no)

In [25]:
numbers = [51,36,85,69,75,65,25,63,22,12]

even_oddfinder([51,36,85,69,75,65,25,63,22,12])

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [47]:
even_oddfinder(numbers)

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [48]:
even_oddfinder([51,36,85,69,75,65,25,63,22,12])

All even no. :  [36, 22, 12]
All odd no. :  [51, 85, 69, 75, 65, 25, 63]

In [26]:
def add_two_num(num1,num2):  # parameters

    output = num1 + num2 
    print(output)

In [28]:
add_two_num(num1=50,num2=100)  # arguments

150

In [ ]:
add_two_num(50,100)

150

In [64]:
def even_oddfinder(ls):
    even_no  = []
    odd_no = []
    for item in ls:
        if  item % 2 == 0:
            even_no.append(item)
        else: 
            odd_no.append(item)
    print(len(even_no))
    print(len(odd_no))

In [65]:
even_oddfinder(ls=[20,45,75,96,12,78,46,73,99,44,55])

6
5

In [ ]:
ls=[20,45,75,96,12,78,46,73,99,44,55,32,14,52,54,57,254,32,63] 

numbers ==> <= 50 
Total. no. of ==> 5

In [51]:
def add_two_num(num1,num2):  # parameters
    print("start execution")
    return
    print('not executing')
    output = num1 + num2 
    return f"your addition is {output}","nikita","upflairs"
    return "a"
    return 'b'
    return 'c'

In [52]:
ans = add_two_num(25,25)
print(ans)

start execution
None

In [46]:
"a","b","c"

('a', 'b', 'c')

In [45]:
tpl = 10,20,30
print(tpl)
print(type(tpl))

(10, 20, 30)
<class 'tuple'>