In [7]:
class Father:
    father_name = "suresh chandra"
    father_bank_balance = 85755 
    father_age = 48 



class Son(Father):   # inheritence 
    son_name = "Radhey"
    son_age = 25

In [8]:
obj_father = Father()
obj_son = Son()

In [10]:
obj_son.father_name

'suresh chandra'

In [11]:
class Father:
    father_name = "suresh chandra"
    father_bank_balance = 85755 
    father_age = 48 

    @classmethod
    def display(cls):
        print("father name is : ",cls.father_name)
        print("father bank balance is : ",cls.father_bank_balance)
        print("father age is : ",cls.father_age)



class Son(Father):   # inheritence 
    son_name = "Radhey"
    son_age = 25

In [12]:
obj_son = Son()
obj_son.display()

father name is :  suresh chandra
father bank balance is :  85755
father age is :  48

#### constructor in super class

In [18]:
class Father:
    father_name = "suresh chandra"
    father_bank_balance = 85755 
    father_age = 48

    def __init__(self,city,college_name ):
        self.father_city = city  
        self.father_college = college_name
        print("father class constructor executed")

    @classmethod
    def display(cls):
        print("father name is : ",cls.father_name)
        print("father bank balance is : ",cls.father_bank_balance)
        print("father age is : ",cls.father_age)

class Son(Father):   # inheritence 
    son_name = "Radhey"
    son_age = 25

In [19]:
obj_son = Son(city="mathura",college_name="IET agra")

father class constructor executed

In [20]:
obj_son.father_city

'mathura'

In [21]:
obj_son.father_college

'IET agra'

In [22]:
obj_son.son_name

'Radhey'

####  constructor in both (super, sub)

In [34]:
class Father:
    father_name = "suresh chandra"
    father_bank_balance = 85755 
    father_age = 48

    def __init__(self,city,college_name ):
        self.father_city = city  
        self.father_college = college_name
        print("father class constructor executed")

    @classmethod
    def display(cls):
        print("father name is : ",cls.father_name)
        print("father bank balance is : ",cls.father_bank_balance)
        print("father age is : ",cls.father_age)

class Son(Father):   # inheritence 
    son_name = "Radhey"
    son_age = 25 

    def __init__(self,student_college_name,student_college_city):
        self.student_college  = student_college_name
        self.student_college_city = student_college_city
        print("son class constructor executed")
        # super().display()
        super().__init__(city='aligarh',college_name='aligarh')

In [35]:
obj_son = Son(student_college_name='iet agra',student_college_city='agra')

son class constructor executed
father class constructor executed

In [31]:
obj_son.father_city

AttributeError: 'Son' object has no attribute 'father_city'

In [49]:
class Animal(object):
    pass

# multilevel inheritence without constructor

In [34]:
class  Father(object):
    father_name = 'suresh chandra' 

class Son(Father):
    son_name =  "radhey"

class Grandson(Son):
    grandson_name = 'chhotu'

In [35]:
Son.mro()

[__main__.Son, __main__.Father, object]

In [51]:
grand_obj = Grandson()

In [55]:
grand_obj.father_name

'suresh chandra'

### Multilevel inheritence with constructor

In [ ]:
class Father:
    father_name = "suresh chandra"
    father_bank_balance = 85755 
    father_age = 48

    def __init__(self,city,college_name ):
        self.father_city = city  
        self.father_college = college_name
        print("father class constructor executed")

    @classmethod
    def display(cls):
        print("father name is : ",cls.father_name)
        print("father bank balance is : ",cls.father_bank_balance)
        print("father age is : ",cls.father_age)

class Son(Father):   # inheritence 
    son_name = "Radhey"
    son_age = 25 

    def __init__(self,student_college_name,student_college_city):
        self.student_college  = student_college_name
        self.student_college_city = student_college_city
        print("son class constructor executed")
        # super().display()
        super().__init__(city='aligarh',college_name='aligarh')

#### Multiple inheritence

In [ ]:
class A:
    pass 
class B:
    pass 
class C(A,B):
    pass

In [1]:
class A:
    a_name =  "a.com"
class B:
    b_name = "b.com" 
class C(A,B):
    c_name = "c.com"

In [2]:
obj_c = C()

In [3]:
print(obj_c.a_name)
print(obj_c.b_name)
print(obj_c.c_name)

a.com
b.com
c.com

In [12]:
class A:
    def __init__(self,a_value):
        self.a_name =  a_value
        print("A construct")
class B:
    def __init__(self,b_value):
        self.b_name =   b_value
        print('B construct')
class C(A,B):
    def __init__(self,c_value):
        self.c_name =   c_value
        super().__init__(a_value='a_data')
        print('C constructor')

In [13]:
obj_c = C(c_value="c_data")

A construct
C constructor

In [14]:
obj_c.c_name

'c_data'

In [15]:
obj_c.a_name

'a_data'

In [25]:
class A:
    def __init__(self,a_value):
        self.a_name =  a_value
        print("A construct")
class B:
    def __init__(self,b_value):
        self.b_name =   b_value
        print('B construct')
class C(A,B):
    def __init__(self,c_value):
        self.c_name =   c_value
        A.__init__(self,a_value='a_data')
        B.__init__(self,b_value='b_data')
        print('C constructor')

In [26]:
C.mro()

[__main__.C, __main__.A, __main__.B, object]

In [24]:
obj_c = C(c_value='c_data')

A construct
B construct
C constructor

In [29]:
class D(object):
    pass

In [28]:
D.mro()

[__main__.D, object]

In [36]:
st = 'upflairs'
print(st)
print(type(st))

upflairs
<class 'str'>

In [ ]:
# st.count()

In [38]:
st2 = str('upflairs')
print(st2)
print(type(st2))

upflairs
<class 'str'>

In [43]:
len({2,5})   #

2

### Encapsulation <br>
<p>methods and variables</p>

In [ ]:
class Company:
    def __init__(self):
        self.finance_team_members = 25
        self.finance_manager = "Rohit"
        self.finance_budget = 25000


        self.sales_team_members = 25
        self.sales_manager = "Nikki"
        self.sales_budget = 36000


        self.account_team_members = 25
        self.account_manager = "radhey"
        self.account_budget = 50000


        self.developer_team_members = 25
        self.developer_manager = 'govind'
        self.developer_budget = 45000


    def account_section(self):
        pass 
    
    def selles_section(self):
        pass 

    def finance_section(self):
        pass
    def developer_section(self):
        pass