In [13]:
for i in range(10):
    print(i," hello world")

0  hello world
1  hello world
2  hello world
3  hello world
4  hello world
5  hello world
6  hello world
7  hello world
8  hello world
9  hello world

In [9]:
# range(starting,stoping,jump) 
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [12]:
for i in range(1,6):
    print(i," hello world")

1  hello world
2  hello world
3  hello world
4  hello world
5  hello world

In [14]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [ ]:
for i in range(10,0,-1):
    print(i)

*
**
***
****
*****
******
*******

10
9
8
7
6
5
4
3
2
1

In [5]:
for i in range(1,6):  
    print(i,end=" ")

1 2 3 4 5

### Nested loop

In [ ]:
for i in range(1,3): 1 , 2
    print(i)
    for j in range(20,26):  20 , 21 , 22 , 23 24 25 
        print(j)

1
20
21
22
23
24
25
2
20
21
22
23
24
25

In [ ]:
for i in range(5,8):
    for j in range(1,6):
        print(j,end=" ")

1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

In [18]:
st = "upflairs" 
for char in st:
    print(char)

u
p
f
l
a
i
r
s

In [19]:
st = "upflairs" 
for char in st:
    print(char,end="")

upflairs

In [21]:
ls = [10,20,30,40,50]
for item in ls:
    print(item)

10
20
30
40
50

In [25]:
ls = [10,20,30,40,50]
total_sum = 0 
for item in ls:
    total_sum += item 
print(total_sum)

150

In [26]:
ls = [10,20,30,40,50]
count = 0 
for item in ls:
    count += 1 
print(count)

5

In [27]:
average = total_sum / count 
print(average)

30.0

In [24]:
ls = [10,20,30,40,50]
total_sum = 0 
count = 0 
for item in ls:
    total_sum += item 
    count += 1 

print(total_sum/ count )

30.0

In [30]:
num = 29
if num % 2 == 0: 
    print("no. is even ")
else:
    print("no. is odd")

no. is odd

In [ ]:
ls = [41,25,36,39,28,74,54,63,21,44]