In [13]:
for i in range(10):
    print(i," hello world")

0  hello world
1  hello world
2  hello world
3  hello world
4  hello world
5  hello world
6  hello world
7  hello world
8  hello world
9  hello world

In [9]:
# range(starting,stoping,jump) 
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [12]:
for i in range(1,6):
    print(i," hello world")

1  hello world
2  hello world
3  hello world
4  hello world
5  hello world

In [14]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [ ]:
for i in range(10,0,-1):
    print(i)

*
**
***
****
*****
******
*******

10
9
8
7
6
5
4
3
2
1

In [5]:
for i in range(1,6):  
    print(i,end=" ")

1 2 3 4 5

### Nested loop

In [ ]:
for i in range(1,3): 1 , 2
    print(i)
    for j in range(20,26):  20 , 21 , 22 , 23 24 25 
        print(j)

1
20
21
22
23
24
25
2
20
21
22
23
24
25

In [ ]:
for i in range(5,8):
    for j in range(1,6):
        print(j,end=" ")

1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

In [18]:
st = "upflairs" 
for char in st:
    print(char)

u
p
f
l
a
i
r
s

In [19]:
st = "upflairs" 
for char in st:
    print(char,end="")

upflairs

In [21]:
ls = [10,20,30,40,50]
for item in ls:
    print(item)

10
20
30
40
50

In [25]:
ls = [10,20,30,40,50]
total_sum = 0 
for item in ls:
    total_sum += item 
print(total_sum)

150

In [26]:
ls = [10,20,30,40,50]
count = 0 
for item in ls:
    count += 1 
print(count)

5

In [27]:
average = total_sum / count 
print(average)

30.0

In [24]:
ls = [10,20,30,40,50]
total_sum = 0 
count = 0 
for item in ls:
    total_sum += item 
    count += 1 

print(total_sum/ count )

30.0

In [30]:
num = 29
if num % 2 == 0: 
    print("no. is even ")
else:
    print("no. is odd")

no. is odd

In [ ]:
ls = [41,25,36,39,28,74,54,63,21,44]

In [2]:
tpl = (41,25,36,39,28,74,54,63,21,44)
for item in tpl:
    print(item)

41
25
36
39
28
74
54
63
21
44

In [3]:
dt = {'name':'nikki','branch':'cse','roll_no':25} 
for item in dt:
    print(item)

name
branch
roll_no

In [6]:
dt = {'name':'nikki','branch':'cse','roll_no':25} 
print(dt.values())

dict_values(['nikki', 'cse', 25])

In [10]:
dt = {'name':'nikki','branch':'cse','roll_no':25} 
for item in dt.keys():
    print(item)

name
branch
roll_no

In [11]:
dt = {'name':'nikki','branch':'cse','roll_no':25} 
for item in dt.values():
    print(item)

nikki
cse
25

In [15]:
## key and values 
dt = {'name':'nikki','branch':'cse','roll_no':25} 
for item in dt:
    print("Key : ",item," Values >>>>  ",dt[item])

Key :  name  Values >>>>   nikki
Key :  branch  Values >>>>   cse
Key :  roll_no  Values >>>>   25

In [16]:
dt = {'name':'nikki','branch':'cse','roll_no':25} 
dt.items()

dict_items([('name', 'nikki'), ('branch', 'cse'), ('roll_no', 25)])

[(key,value),(key,value),(key,value)]  # list of tuples

In [ ]:
for pair in dt.items():   # [(key,value),(key,value),(key,value)]
    print(pair)

('name', 'nikki')
('branch', 'cse')
('roll_no', 25)

In [18]:
for pair in dt.items():
    print(pair[0],"  >>>>>>>>>>>  ",pair[1])

name   >>>>>>>>>>>   nikki
branch   >>>>>>>>>>>   cse
roll_no   >>>>>>>>>>>   25

In [22]:
for key,value in dt.items():
    print("key : ",key," >>>>>>>>>>>  ",value)

key :  name  >>>>>>>>>>>   nikki
key :  branch  >>>>>>>>>>>   cse
key :  roll_no  >>>>>>>>>>>   25

In [ ]:
## tuple unpacking 
tpl = ('name', 'nikki')
a , b = tpl 
print(a)
print(b)

name
nikki

In [28]:
### enumerate 
ls = [25,4,63,96,85,75,48,93,82,6]
target = 75 
count = 0 
for item in ls: 
    if item ==  target:
        print(count)
    count += 1

5

In [30]:
ls = [25,4,63,96,85,75,48,93,82,6]
list(enumerate(ls))

[(0, 25),
 (1, 4),
 (2, 63),
 (3, 96),
 (4, 85),
 (5, 75),
 (6, 48),
 (7, 93),
 (8, 82),
 (9, 6)]

In [33]:
ls = [25,4,63,96,85,75,48,93,82,6]
target = 75 
for pair in enumerate(ls):
    if pair[1] == target:
        print("your item is present at this location : ", pair[0])

your item is present at this location :  5

In [35]:
ls = [25,4,63,96,85,75,48,93,82,6]
target = 75 
for pos,item in enumerate(ls):
    print("position : ",pos," item : ",item)

position :  0  item :  25
position :  1  item :  4
position :  2  item :  63
position :  3  item :  96
position :  4  item :  85
position :  5  item :  75
position :  6  item :  48
position :  7  item :  93
position :  8  item :  82
position :  9  item :  6

In [ ]:
ls = [25,4,63,96,85,75,48,93,82,6]
target = 75 
for pos,item in enumerate(ls):
    if item == target:
        print("position : ",pos," item : ",item)

position :  5  item :  75

In [40]:
# loops keywords (break , continue )
# what is "reserved keywords" in python?
for i in range(25):

    if i == 7:
        break 
    print(i)

0
1
2
3
4
5
6

In [41]:
for i in range(10):
    print("Nikita")
    break

Nikita

In [ ]:
for i in range(10):
    break  # stop the loop iteration 
    print("Nikita")

In [45]:
for i in range(10):
    if i == 6: 
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [ ]:
count = 0 #1
for i in range(10):
    count += 1
    break 
    print("nikita")
print(count)

1

In [ ]:
count = 0 #1
for i in range(10):
    count += 1
    continue 
    print("nikita")
print(count)

1

In [55]:
for i in range(10):
    print("Nikita ")
    continue

Nikita
Nikita
Nikita
Nikita
Nikita
Nikita
Nikita
Nikita
Nikita
Nikita

In [ ]:
### while loop (sytex)
initialaization 
while condition: 
    block of code 
    increamentation

In [ ]:
i = 0 
while i <= 10:  # True 
    print(i,"  Nikita")  # infinit loop 
    i += 1

0   Nikita
1   Nikita
2   Nikita
3   Nikita
4   Nikita
5   Nikita
6   Nikita
7   Nikita
8   Nikita
9   Nikita

In [ ]:
while 
2
4
6
8
10
....
100

In [ ]:
# for i in range(0,101,2):
#     print(i)
# 1 btwn 100 even numbers

In [ ]:
10 
9 
8 
7
6 
5
4 
3
2
1

In [5]:
i = 10 
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [9]:
# 10
# 9
# 8
# 7
# 4
# 3
# 2
# 1

i = 11 
while i >= 1:
    i -= 1 
    if i ==5 or i ==6:
        continue
    if i ==  0:
        break
    print(i)

10
9
8
7
4
3
2
1

In [ ]:
1. write a program to find square of all even number with in 1 to  50:

In [ ]:
for i in range(1,6):