## Input() function

In [3]:
num1 = input("plz enter first number : ")
num2 = input("plz enter second number : ")

print(num1,num2)
print(type(num1),type(num2))

True 25.2
<class 'str'> <class 'str'>

In [8]:
num1 = input("plz enter first number : ")
num2 = input("plz enter second number : ")

num1 = int(num1)
num2 = int(num2)
print(num1,num2)
print(num1 + num2)
print(type(num1),type(num2))

25 50
75
<class 'int'> <class 'int'>

In [9]:
num1 = int(input("plz enter first number : "))
num2 = int(input("plz enter second number : "))


print(num1,num2)
print(num1 + num2)
print(type(num1),type(num2))

25 50
75
<class 'int'> <class 'int'>

In [10]:
num1 = float(input("plz enter first number : "))
num2 = float(input("plz enter second number : "))


print(num1,num2)
print(num1 + num2)
print(type(num1),type(num2))

25.25 10.0
35.25
<class 'float'> <class 'float'>

In [12]:
st = "25 10 20 30 40 50"
output = st.split()
print(output)

['25', '10', '20', '30', '40', '50']

In [14]:

numbers = input("plz enter numbers : ")
output = numbers.split()
print(output)

['10', '20', '30', '40', '50']

In [16]:
numbers = input("plz enter numbers : ").split()
print(numbers)

['10', '20', '30', '40', '50']

In [19]:
numbers = input("plz enter numbers : ").split(",")
print(numbers)

['10', '20', '30', '40', '50']

In [ ]:
numbers = input("plz enter numbers : ").split(",")
print(numbers)

In [21]:
numbers = int(input("plz enter numbers : "))
print(numbers)

ValueError: invalid literal for int() with base 10: 'nikki'

In [ ]:
# string to int ==> 0-9

In [25]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## "nikki"

nikki
<class 'str'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## 25

25
<class 'int'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## 52.2

52.2
<class 'float'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## True

True
<class 'bool'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## [10, 20, 30]

[10, 20, 30]
<class 'list'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## (10, 20, 30)

(10, 20, 30)
<class 'tuple'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## {'name': 'nikita jangid', 'city': 'bikaner'}

{'name': 'nikita jangid', 'city': 'bikaner'}
<class 'dict'>

In [ ]:
input_data = eval(input("plz enter something : "))
print(input_data)
print(type(input_data))  ## {10,20,10}

{10, 20}
<class 'set'>

###  Arithmatic operator (+ ,- ,* ,/, %, ** ,//)

In [ ]:
num1 = int(input("plz enter your number : "))
num2 = int(input("plz enter your number : "))

print(num1 + num2)

30

In [36]:
num1 = int(input("plz enter your number : "))
num2 = int(input("plz enter your number : "))
print("passed numbers : ",num1 , num2)
print(num1 - num2)

passed numbers :  50 25
25

In [37]:
num1 = int(input("plz enter your number : "))
num2 = int(input("plz enter your number : "))
print("passed numbers : ",num1 , num2)
print(num1 * num2)

passed numbers :  2 2
4

In [39]:
num1 = int(input("plz enter your number : "))
num2 = int(input("plz enter your number : "))
print("passed numbers : ",num1 , num2)
print(num1 / num2)

passed numbers :  10 5
2.0

In [47]:
num1 = int(input("plz enter your number : "))
num2 = int(input("plz enter your number : "))
print("passed numbers : ",num1 , num2)
output = num1 // num2
print(output)

passed numbers :  15 2
7

In [49]:
num1 = 3 
num2 = 3 
print(num1 **  num2)

27

In [50]:
# %  
num1 = 9 
num2 = 3 
print(num1 % num2 )

0

In [51]:
num1 = 10 
num2 = 3 
print(num1 % num2 )

1

In [52]:
num1 = 17 
num2 = 5
print(num1 % num2 )

2

### Assignment operators

In [ ]:
var1 = 20

In [5]:
# +=  
x = 5 
print(x)

5

In [4]:
x = x + 2
print(x)

7

In [6]:
x = 5 
x += 2      # or x = x + 2
print(x)

7

In [8]:
x += 3

In [10]:
x

10

In [11]:
x = x + 5 
print(x)

15

In [12]:
x += 1
print(x)

16

In [ ]:
# increment & decrement operator  
#  ++               --

In [15]:
x -= 5 
print(x)

11

In [16]:
x *= 2 
print(x)

22

In [ ]:
x /= 2   # x = x / 2 
print(x)

11.0

In [19]:
x  %= 2    # x = x % 2   or 11 % 2 
print(x)

1.0

## comparison operators

In [23]:
a  = 10 
b = 15
print(a == b)

False

In [24]:
a  = 10 
b = 15
print(a != b)

True

In [25]:
a  = 10 
b = 10
print(a != b)

False

In [29]:
age = 25 
print(age < 30)

True

In [39]:
age = 25 
print(age >= 50)

False

In [ ]:
# conditional statements  (if-else-elif statement) 
age  = 18 
if age == 18:
    print("you can also vote!")
elif age > 18 :
    print("you can vote ")
else:
    print("you cant vote")

you can also vote!

In [44]:
day = "sunday" 
if day == "monday":
    print('welcome to you in office ')
if day == "sunday":
    print("go back your home today is sunday")
elif day == "tuesday":
    print("welcome to you in office") 
elif day == "friday":
    print("welcome to you in office")
else:
    print("i dont know ")

go back your home today is sunday

In [50]:
age = 21 
print(age >= 21)

True

In [51]:
a = 10 
b = 15 
c = 20 
if a > b and a > c: 
    print("A is greatest") 
elif b > a and b > c: 
    print(" B is greater ")
elif c > a and c > b: 
    print("C is greater")

C is greater

In [ ]:
num = 35
if num > 10 and num < 50:
    print("number in btwn 10 to 50") 
else : 
    print('out of range')

out of range

In [58]:
print(not True)

False

In [59]:
age = 21 
if not age > 18:
    print("you cant vote1")
else: 
    print("you can vote")

you can vote

In [ ]:
num1 = int(input("plz enter your first number : "))
operation = input("plz enter operation (+ * - / ) : ")
num2 = int(input("plz enter your second number : "))
print(f"first number is {num1} and operation is {operation} and second number is {num2}")
if operation == "+": 
    print(num1 + num2)  
elif operation == "-": 
    print(num1 - num2)
elif operation == "*": 
    print(num1 * num2) 
elif operation == "/": 
    print(num1 / num2) 
else:
    print("plz pass valid input operation!")

50

### membership operator 
1.  in 
2. not in

In [62]:
family_memebers = ["raju",'mohan','sohil','kanak','bharat'] 

if "nikita" in family_memebers:
    print("he is your family member")
else:
    print("he is not my family memebers")

he is not my family memebers

In [64]:
family_memebers = ["raju",'mohan','sohil','kanak','bharat'] 

if "nikita" not in family_memebers:
    print("he is not your family member")
else:
    print("he is  my family memebers")

he is not your family member

In [ ]:
"kanak" not in family_memebers

True

In [71]:
family_memebers = ["raju",'mohan','sohil','kanak','bharat'] 
neighbours = ['mohan','rocky','neeta','komal'] 

name = input("enter your name plzz  : ")
if name in family_memebers:
    print("you are welcome in my home  ",name) 
elif name in neighbours:
    print("you are also welcome  ",name) 
else:
    print("i dont know, and go away from my home  ", name)

i dont know, and go away from my home   radhey

In [78]:
### nested conditional statement 
family_memebers = ["raju",'mohan','sohil','kanak','bharat'] 
neighbours = ['mohan','rocky','neeta','komal','nikita'] 
favourate_neighbours = ['nikita','kanak','mohit','sarala']

name = input("enter your name plzz  : ")
if name in family_memebers:
    print("you are welcome in my home  ",name) 
elif name in neighbours:
    if name in favourate_neighbours:
        print("you are most welcome  😘😁😀",name) 
    else:
        print("okay welcome 😕😕")
else:
    print("i dont know, and go away from my home  ", name)

you are most welcome  😘😁😀 nikita

## identity operation

In [ ]:
is 
is not 

# difference btwn "is" and "=="

In [ ]:
x = ['banana','apple']
y = ['banana','apple'] 
print(x == y )         # values

True

In [3]:
print(x is y)

False

In [4]:
z = x

In [7]:
print(x is z)

True

In [10]:
z.pop()

'apple'

In [11]:
z

['banana']

In [12]:
x

['banana']